.idea/
.vs/
tsutenkaku_descriminator/tsutenkaku_descriminator.pyproj
CodeGraphData/
*.sln
tsutenkaku_discriminator/data/graph_accuracy/*
tsutenkaku_discriminator/data/graph_loss/*
tsutenkaku_discriminator/data/log/*
tsutenkaku_discriminator/data/taiyo_no_to/*
tsutenkaku_discriminator/data/tsutenkaku/*

__pycache__/