.idea/
.vs/

CodeGraphData/
*.sln
tsutenkaku_discriminator/data/graph_accuracy/*
tsutenkaku_discriminator/data/graph_loss/*
tsutenkaku_discriminator/data/log/*
tsutenkaku_discriminator/data/taiyo_no_to/*
tsutenkaku_discriminator/data/tsutenkaku/*
tsutenkaku_discriminator/data/taiyo_no_to_valid/*
tsutenkaku_discriminator/data/tsutenkaku_valid/*
__pycache__/
tsutenkaku_discriminator/data/data_generated_taiyo_no_to/
tsutenkaku_discriminator/data/data_generated_tsutenkaku/
tsutenkaku_discriminator/data/temp/
tsutenkaku_discriminator/data/data_valid1_tsutenkaku/
tsutenkaku_discriminator/data/data_valid1_taiyo_no_to/
tsutenkaku_discriminator/tsutenkaku_descriminator.pyproj
*.7z
